body{
    background-image: url("https://cdn.mos.cms.futurecdn.net/z36tiyqbpJ7PYx8bafhks3-1024-80.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.div
{
    text-align: left;
    margin-left: 250px;
    margin-top: 230px;
}
#num{
    margin-left: 220px;
    font-size: large;
    
}
#result{
    margin-left: 280px;
    font-size: large;

}
.button{
    font-size: large;
}